@CHARSET "ISO-8859-1";

/* header */
@media screen and (max-width: 600px) {
.banner{
display:none;
}
}

/* formato para imagenes incluidas en home.xhtml */ 
.homeImg{
	width:300px;
	height:300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* home.xhtml */
footer {
    background-color: #003366;
    padding: 1%;
	height:10%;
	color:#FFF;
	font-size:11px;
}
    
 .carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

.link{
	color:silver;
}

/* products.xhtml */
.selectItem{
	color:blue;
	margin-left:15%;
	font-size:12px;
}

/* primefaces styles */
.ui-dialog{
top: 0px !important;
}

.ui-dialog .ui-dialog-titlebar {
   display: none !important;
}

.ui-widget, .ui-widget .ui-widget {
    font-size: 90%;
}

.companyHeaderGrid.ui-panelgrid>*>tr,
.companyHeaderGrid.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

/*
.ui-datatable-header{
	background-color:#fff !important;
	color:blue !important;
}

.ui-datatable thead{
    border-style: none;    
}*/